<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/framework")
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/js/wizard/wizard.css" rel="stylesheet" />
    @*引入当页样式*@
    @RenderSection("css", required: false)
    @{
        string fileName = Request.FilePath.Substring(1).Replace('/', '@');
    }
</head>
<body>

    @RenderBody()
    @Scripts.Render("~/bundles/js_form", Url.Content("~/Scripts/Comm.js"), Url.Content(string.Format("~/Scripts/{0}.js", fileName)))
    @*引入当页脚本*@
    @RenderSection("scripts", required: false)
</body>
</html>