@using YMOA.WorkWeb.Resources
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/framework")
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
    @*引入当页样式*@
    @RenderSection("css", required: false)
    @{
        string fileName = Request.FilePath.Substring(1).Replace('/', '@');
    }
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/js_index",
    "~/Content/js/jqgrid/grid.locale." + Resource._culture + ".js", 
    Url.Content(string.Format("~/Scripts/resx/{0}/{1}.js", Resource._culture, fileName)), 
    Url.Content(string.Format("~/Scripts/resx/{0}/global.js", Resource._culture)),
    Url.Content(string.Format("~/Scripts/{0}.js", fileName)))
    @*引入当页脚本*@
    @RenderSection("scripts", required: false)
</body>
</html>
