@model YMOA.Model.LibraryEntity
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<form id="LibraryEidt">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            <input id="hidid" type="hidden" value="@Model.id" />
            <input id="hidtag" type="hidden" value="@Model.tag" />
            @*
            <li><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">名称</th>
                    <td class="formValue">
                        <input id="txtname" name="txtname" type="text" class="form-control required" autocomplete="off" placeholder="请输入名称" value="@Model.name" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">标识码</th>
                    <td class="formValue">
                        <input id="txtcode" type="text" name="txtcode" class="form-control required isEnglish" autocomplete="off" placeholder="请输入标识码" value="@Model.code" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">排序</th>
                    <td class="formValue">
                        <input id="txtsort" name="txtsort" autocomplete="off" type="text" class="form-control isDigits" placeholder="请输入排序" value="@Model.sort" />
                    </td>
                </tr>
                @{
                    if (Model.tag == 1)
                    {
                        //var users = ViewData["users"] as List<YMOA.Model.UserEntity>;
                        <tr>
                            <th class="formTitle">标识码</th>
                            <td class="formValue">
                                <select id="sltDutyPerson" name="sltDutyPerson" class="form-control" data-value="@ViewData["DutyPerson"].ToString()">
                                    @*@foreach (var user in users)
                                    {

                                    }*@
                                </select>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</form>